<ion-header>
  <ion-toolbar>
    <ion-title>Juego de Palabras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="game-container" *ngIf="currentImage.word">
    <img [src]="currentImage.src" class="game-image" alt="Imagen a adivinar" />

    <div class="selected-letters">
  <span *ngFor="let letter of selectedLetters"
        class="selected-letter"
        [ngClass]="{'space': letter === ' '}">
    {{ letter }}
  </span>
    </div>

    <div class="letters-container">
      <ion-button *ngFor="let letterInfo of shuffledLetters"
                  (click)="selectLetter(letterInfo)"
                  class="letter-button"
                  [disabled]="letterInfo.count >= 1">
        {{ letterInfo.letter }}
      </ion-button>
    </div>

    <div class="button-container">
      <ion-button (click)="removeLastLetter()" expand="full" color="danger">
        Borrar última letra
      </ion-button>
      <ion-button (click)="checkAnswer()" expand="full" color="success">
        Verificar
      </ion-button>
    </div>

    <ion-text *ngIf="message" class="game-message">
      {{ message }}
    </ion-text>
  </div>
</ion-content>
